@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
@import "https://fonts.googleapis.com/css?family=K2D";
html, body {
  margin: 0;
  font-family: "K2D", sans-serif;
}

* {
  box-sizing: border-box;
}

navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #1c2c83;
  z-index: 10;
}
navbar left {
  width: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left:30px;
  color: white;
  font-size: 25px;
}
navbar left object {
  margin-right: 15px;
}
navbar right {
  margin-right: 20px;  
  width: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  font-size: 15px;
}
navbar right * {
  margin: 30px;
  font-size: 18px;
}
navbar right i {
  font-size: 30px;
}
navbar right button {
  all: unset;
  box-sizing: border-box;
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
navbar right button i {
  font-size: 20px;
  margin: 0;
}

page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 80px auto;
  grid-template-areas: 
  ". ."
  ". header"
  ". content";
}

page header {
  padding: 20px;
  grid-area: header;
  display: grid;
  grid-template-columns: 40% 20% auto 20%;
  grid-template-rows: auto;
  grid-template-areas: 
  "contentHeader contentHeader . addButton"
  "left_input left_input right_input right_input"
  "hrHeader hrHeader hrHeader hrHeader";
}

page header .left_input, page header .right_input{
  /* border: 1px solid #ccc; */
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
}

page header contentHeader{
  padding: 10px 10px 10px 0px;
  font-family: 'Montserrat', sans-serif;
  text-align: start;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "mainHeader"
  "description";
}

page header contentHeader mainHeader{
  grid-area: mainHeader;
  font-size: 30px;
  font-weight: bold;
  color: #171463
}

page header contentHeader description{
  grid-area: description;
  margin-top: 10px; 
  font-size: 15px;
}

page header hrHeader{
  grid-area: hrHeader;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "searchBySection"
    "searchDateTimeSection"
    "searchActionSection";
}

page header hrHeader searchBySection{
  padding-top: 10px;
  grid-area: searchBySection;
  display: grid;
  grid-template-columns: 10% 20% 30%;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  ". left_input left_input"
  ". right_input right_input"
  ". . .";
}

page header hrHeader searchDateTimeSection{
  padding-top: 10px;
  grid-area: searchDateTimeSection;
  display: grid;
  grid-template-columns: 10% 20% 10% 40px 20%;
  grid-template-rows: auto;
}

page header hrHeader searchActionSection{
  padding-top: 10px;
  grid-area: searchActionSection;
  display: grid;
  grid-template-columns: 10% 20%;
  grid-template-rows: auto;
}

page header a{
  margin: 10px 10px 0px 10px; 
  text-align: start;

}

page header .left_input {
  grid-area: left_input;
  height: 40px;
  border-right: none;
  padding-left : 0px;
  padding-right: 0px;
  
}
page header .right_input {
  grid-area: right_input;
  height: 40px;
  width: 100%;
  font-size: 15px; 
  margin:auto;
  margin-left:0px;
  border: #0000001f solid 1px;
  border-radius: 5px;
}
page header .addButton {
  height: 40px;
  grid-area: addButton;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  width: auto;
  height: 44px;
  background: #1c2c83;
  color: #ffffff;
  margin: 10px;
  margin-right: 0px;
  cursor: pointer;
  border-radius: 2px;
  border:none;
}

page header .addButton:hover{
  background:#3448b8;
  color: #ffffff;
}

page content {
  grid-area: content;
  margin: 20px;
  margin-top:0px;
}
page content table {
  width: 100%;
}
page content table thead th {
  text-align: left;
  padding: 15px;
  font-size: 15px;
}
page content table thead tr {
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  border-bottom: #00000041 solid 1px;
}
page content table tbody tr {
  height: 40px;
  /* background-color: #fefefe; */
  border-bottom: #00000041 solid 1px;
}
page content table tbody tr:nth-child(2n) {
  /* background-color: #f8f8f8; */
  border-bottom: #00000041 solid 1px;
}
page content table tbody tr td {
  text-align: left;
  padding: 15px;
  font-size: 15px;
}

/*# sourceMappingURL=app.css.map */
